

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    min-height: 100vh;
    background-color: #d8c395;
    font-family: Georgia, 'Times New Roman', Times, serif;
 
}

.main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: scale(0.75);
}


.game{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    flex: 0 1 auto;
    padding: 10px;
    
    border: 10px solid #687450;
    border-radius: 10px;
    
    background-color: #c0a270;

}

.title-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-top: 5px solid #687450;
    border-bottom: 5px solid #687450;
    border-left: 100px solid #687450;
    border-right: 100px solid #687450;
    border-radius: 10px;
    
    font-weight: 900;
    font-size: 48px;
    background-color: #687450;
}

#title{
    display: flex;
    flex-direction: column;
    background-color: #c0a270;
    border: 5px solid #c0a270;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

#subtitle{
    font-size: 24px;
    border-radius: 10px;
    
}

.scoreboard,
.text-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    flex: 1 0 auto;
    margin-top: 50px;
    min-width: 220px;
    max-width: 300px;
    min-height: 800px;
    margin-left: -10px;
    margin-right: -10px;
      
    
    padding: 10px;
    border: 10px solid #687450;
    gap: 10px;
  

    font-size: 24px;
    font-weight: 800;
    background-color: #c0a270;
    color: black;
}
.scoreboard{
    border-top-left-radius:  10px;
    border-bottom-left-radius: 10px;
}

#score-text{
    margin-bottom: 20px;
    font-size: 28px;
    font-style: oblique;
}

.instructions img{
   height: auto; 
    width: 100px;
    border: 3px solid #d8c395;
    border-radius: 5px;
    margin-bottom: 10px;
   
}

.instructions{
    font-size: 18px;
   
}


.instructions-text{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    flex-wrap: wrap;

}



.text-content{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    

}

.instructions #instruction-header{
    font-size: 32px;
    margin-bottom: 5px;
}

#instruction-sub{
    font-style: oblique;
    font-size: 16px;
    margin-bottom: 5px;
}



.icons{
    font-size: smaller;
  
    
}

.icon{
    display: flex; 
    align-items: center;
    flex: 0 0 auto;

    margin-top: 20px;
    padding: 5px;
    gap: 10px;
}

.score{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    height: 150px;
    min-height: 100px;
 
}

#scorecenter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0 1 auto;
    
    width: auto;
    height: 300px;
    border-radius: 10px;
    border: 10px solid #dbccab;
    margin: 20px 0px 20px 0px;
    gap: 20px;
    padding: 10px;

    font-size: 28px;
    font-weight: 900;
}

.inactive{
    font-style: oblique;
    opacity: 20%;
}

#player,
#computer{
    font-size: 24px;
    display: flex;
    flex: 0;

}

.map{
    
    display: flex;
    flex-direction: column;
    border: 10px solid #c0a270;
}

.card{
    display: flex;
    height: auto;
    width: 200px;
    border: 10px solid #687450;
    border-radius: 10px;
    opacity: 85%;
    flex: 0;
}

.card:hover{
    border: 20px solid #687450;
    opacity: 100%;
    transform: scale(1.25)
}



.regionmap{
    display :flex;
    height: auto;
    width: 750px;
    border-radius: 10px;

}

.deck{
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin-top: 20px;
    height: 300px;
    

}

.selected{
    border: 5px solid #d3cabb;
    margin-top: 30px;
}

.strong,
.weak{
    font-size: 18px;
    font-weight: 900;
}
.strong{
    color: #506824;
}
.weak{
    color: rgb(182, 49, 49);
}

#text-content-footer{
    font-size: 20px;
    margin-bottom: 20px;
}

#suntzu{
    font-size: 16px;
    font-style: oblique;
    margin-bottom: 20px;
}

header,
footer{
    display: flex;
    align-items: center;
    height: 50px;
    font-weight: 900;
    background-color: #c0a270;

}

header{
    margin-bottom: auto;
    border-bottom: 12px solid #687450;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.gamelinks{
    display: flex;
    align-items: baseline;
    padding: 10px;
}

.gamelinks ul>li{
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

.logo{
    display: flex;
    gap: 10px;
    font-size: 24px;
}

a:link,
a:visited{
    color: black;
    text-decoration: none;
    font-style: italic;
}




footer{
    justify-content: center;
    margin-top: auto;
    border-top: 10px solid #687450;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer-text{
    display: flex;
    gap: 10px;
    align-items: center;
}

#namelink{
    margin-left: 10px;
}

.modal.win,
.modal.loss{
    display: none;
    position: fixed;
    bottom: 30%;
    align-self: center;
    z-index: 1;
    width: 60%;
    height: auto;
    background-color: #c0a270;
    background-color: #c0a37071;
    border: 5px solid #687450;
    text-align: center;
}

.modal.loss{
    background-color: rgba(182, 49, 49, 0.452);
    border: 5px solid rgb(182, 49, 49);
}

.victory-content{
    background-color:#d3cabb;
    margin: 25% auto;
    padding: 20px;
    border: 10px solid #687450;
    border-radius: 10px;
    width: 50%;
    font-size: 32px;
}

.loss-content{
    background-color:#d3cabb;
    margin: 25% auto;
    padding: 20px;
    border: 10px solid rgb(182, 49, 49);
    border-radius: 10px;
    width: 50%;
    font-size: 32px;
}



#restart{
    color: rgb(182, 49, 49);
    font-size: 24px;
    font-weight: bold;
    font-style: oblique;
 
}

.restart:hover,
.restart:focus{
    color: #687450;
    cursor: pointer;
}